@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
:root {
    --c-brand: #ff1694;
    --c-brand-light: #ff1692ac;
    --c-brand-dark: #e11594;

}
.bg-brand{
    background-color: var(--c-brand) !important;
}
.fs-18{
    font-size: 18px;
}
.text-brand {
    color: var(--c-brand) !important;
}
.text-brand-dark {
    color: var(--c-brand-dark) !important;
}
.text-brand-light {
    color: var(--c-brand-light) !important;
}

.btn-brand{
    background-color: var(--c-brand) !important;
    color: #fff !important;
    transition: .3s;
}

.btn-brand:hover {
    background-color: var(--c-brand-dark) !important;
}

a{
    text-decoration: none;
    color: inherit;
}


.btn-outline-pink {
    padding: 15px 25px;
    outline: 2px solid var(--c-brand);
    border-radius: 5px;
    cursor: pointer;
    /* transition: 0.3s; */
}

.btn-outline-pink:hover {
    background-color: var(--c-brand);
    color: white;
}

.btn-outline-pink:hover p {
    color: #fff !important;
}

.btn-outline-pink:hover i {
    color: #fff !important;
}

.btn-outline-pink:hover label {
    color: #fff !important;
}
.btn-outline-brand{
    border: 1px solid var(--c-brand);
    color: var(--c-brand);
    transition: 0.3s;
}
.btn-outline-brand:hover{
    background-color: var(--c-brand) !important;
    color: #fff !important;
}

.form-check-input:checked{
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    box-shadow: #e11594;
}
.form-check-input:focus {
    border-color: var(--c-brand);
    outline: 0;
    box-shadow: 0 0 0 0.25rem #ff169225;
}
.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: var(--c-brand);
    outline: 0;
    box-shadow: 0 0 0 0.25rem #ff169225;
}
 /* homepage header*/
header {
    height: 70px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.4s;
}

.logo img {
    width: 200px;
}

header .fa-magnifying-glass {
    left: 15px;
    z-index: 1;
}

header .search-bar {
    outline: 1px solid var(--c-brand);
}

header .btn-outline-pink {
    padding: 7px 15px;
    outline: 1px solid var(--c-brand);
    background-color: #ff16925a;
    background: transparent;
}